[Desktop Entry]
Name=Geo Shape
Name[pt]=Forma Geo
Name[pt_BR]=Forma Geo
Name[sv]=Geografisk form
Name[zh_TW]=地理元件

X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=geoshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
