[Desktop Entry]
Type=Application
TryExec=marble-maps
Exec=marble-maps %F
Name=Marble Maps
Name[en_GB]=Marble Maps
Name[es]=Mapas de Marble
Name[nl]=Kaarten van Marble
Name[pl]=Mapy Marble
Name[pt]=Mapas do Marble
Name[pt_BR]=Mapas do Marble
Name[sv]=Marble-kartor
Name[uk]=Карти Marble
Name[x-test]=xxMarble Mapsxx
GenericName=OpenStreetMap Navigation
GenericName[en_GB]=OpenStreetMap Navigation
GenericName[es]=Navegación de OpenStreetMap
GenericName[nl]=Navigatie met OpenStreetMap
GenericName[pl]=Nawigacja OpenStreetMap
GenericName[pt]=Navegação com o OpenStreetMap
GenericName[pt_BR]=Navegação com o OpenStreetMap
GenericName[sv]=Navigering med OpenStreetMap
GenericName[uk]=Навігація OpenStreetMap
GenericName[x-test]=xxOpenStreetMap Navigationxx
Comment=Find your way
Comment[en_GB]=Find your way
Comment[es]=Encuentre su ruta
Comment[nl]=Uw weg vinden
Comment[pl]=Znajdź swoją drogę
Comment[pt]=Descubra o seu caminho
Comment[pt_BR]=Descubra o seu caminho
Comment[sv]=Hitta rätt
Comment[uk]=Знайдіть ваш шлях
Comment[x-test]=xxFind your wayxx
Icon=marble
Terminal=false
Categories=Qt;KDE;Education;Geography;
