[Desktop Entry]
Type=Service
Name=OSM Data
Name[bg]=Данни OSM
Name[ca]=Dades OSM
Name[da]=OSM-data
Name[de]=OSM-Daten
Name[en_GB]=OSM Data
Name[es]=Datos OSM
Name[et]=OSM andmed
Name[fi]=OSM-data
Name[fr]=Données OSM
Name[hu]=OSM adat
Name[it]=Dati OSM
Name[nds]=OSM-Daten
Name[nl]=OSM-gegevens
Name[pl]=Dane OSM
Name[pt]=Dados do OSM
Name[pt_BR]=Dados do OSM
Name[sk]=Dáta OSM
Name[sl]=Podatki OSM
Name[sv]=OSM-data
Name[uk]=дані OSM
Name[x-test]=xxOSM Dataxx
Name[zh_TW]=OSM 資料

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-osm+xml;

X-KDE-Library=marblethumbnail
CacheThumbnail=true
