[Desktop Entry]
Type=Application
TryExec=marble
Exec=marble
Name=Marble
Name[ast]=Marble
Name[bg]=Marble
Name[bs]=Marble
Name[ca]=Marble
Name[ca@valencia]=Marble
Name[cs]=Marble
Name[csb]=Marble
Name[da]=Marble
Name[de]=Marble
Name[el]=Marble
Name[en_GB]=Marble
Name[eo]=Marble
Name[es]=Marble
Name[et]=Marble
Name[eu]=Marmola
Name[fi]=Marble
Name[fr]=Marble
Name[ga]=Marble
Name[gl]=Marble
Name[gu]=માર્બલ
Name[he]=Marble
Name[hi]=संगमरमर
Name[hne]=संगमरमर
Name[hr]=Marble
Name[hu]=Marble
Name[is]=Marble
Name[it]=Marble
Name[ja]=Marble
Name[kk]=Marble
Name[km]=ថ្មម៉ាប
Name[ko]=Marble
Name[lt]=Marble
Name[lv]=Marble
Name[ml]=മാര്‍ബിള്‍
Name[nb]=Marble
Name[nds]=Marble
Name[ne]=मार्बल
Name[nl]=Marble
Name[nn]=Marble
Name[pa]=ਮਾਰਬਲ
Name[pl]=Marble
Name[pt]=Marble
Name[pt_BR]=Marble
Name[ro]=Marble
Name[ru]=Marble
Name[sk]=Marble
Name[sl]=Marble
Name[sv]=Marble
Name[tr]=Marble
Name[ug]=مەرمەر تاش
Name[uk]=Marble
Name[x-test]=xxMarblexx
Name[zh_CN]=Marble
Name[zh_TW]=地理_Marble
GenericName=Desktop Globe
GenericName[ast]=Bola del mundu d'escritoriu
GenericName[bg]=Настолен глобус
GenericName[bs]=Globus na radnoj površini
GenericName[ca]=Globus terraqüi per a l'escriptori
GenericName[ca@valencia]=Globus terraqüi per a l'escriptori
GenericName[cs]=Zeměkoule na pracovní ploše
GenericName[csb]=Globùs na pùlce
GenericName[da]=Skrivebordsglobus
GenericName[de]=Schreibtischglobus
GenericName[el]=Υδρόγειος επιφάνειας εργασίας
GenericName[en_GB]=Desktop Globe
GenericName[eo]=Tabula globo
GenericName[es]=Globo terráqueo para el escritorio
GenericName[et]=Töölaua gloobus
GenericName[eu]=Mahaigain planetarioa
GenericName[fa]=کره رومیزی
GenericName[fi]=Maapallo työpöydällä
GenericName[fr]=Globe terrestre
GenericName[ga]=Cruinneog Dheisce
GenericName[gl]=Planetario
GenericName[gu]=ડેસ્કટોપ પૃથ્વીનો ગોળો
GenericName[he]=פלנטריום שולחני
GenericName[hi]=डेस्कटॉप ग्लोब
GenericName[hne]=डेस्कटाप ग्लोब
GenericName[hr]=Globus na radnoj površini
GenericName[hu]=Asztali földgömb
GenericName[is]=Skjáborðshnöttur
GenericName[it]=Globo per il desktop
GenericName[ja]=デスクトップ地球儀
GenericName[kk]=Үстелдегі глобус
GenericName[km]=ផ្ទៃតុ​សកល
GenericName[ko]=데스크톱 지구본
GenericName[lt]=Darbastalio gaublys
GenericName[lv]=Darbvirsmas globuss
GenericName[ml]=പണിയിട ഭൂഗോളം
GenericName[nb]=Skrivebordsglobus
GenericName[nds]=Schriefdisch-Globus
GenericName[ne]=डेस्कटप ग्लोब
GenericName[nl]=Globe op het bureaublad
GenericName[nn]=Skrivebordsglobus
GenericName[pa]=ਡੈਸਕਟਾਪ ਗਲੋਬ
GenericName[pl]=Ziemia na biurku
GenericName[pt]=Globo
GenericName[pt_BR]=Globo na área de trabalho
GenericName[ro]=Glob de birou
GenericName[ru]=Настольный глобус
GenericName[sk]=Glóbus na pracovnej ploche
GenericName[sl]=Namizni globus
GenericName[sv]=Skrivbordsjordglob
GenericName[tr]=Masaüstün Yerküre
GenericName[ug]=ئۈستەلئۈستى گلوبۇسى
GenericName[uk]=Настільний глобус
GenericName[x-test]=xxDesktop Globexx
GenericName[zh_CN]=桌面地球仪
GenericName[zh_TW]=桌面星象儀
MimeType=application/x-osm+xml;
Icon=marble
Terminal=false
Categories=Qt;KDE;Education;Geography;
X-DocPath=marble/index.html
