[Desktop Entry]
Type=Application
TryExec=marble
Exec=marble
Name=Marble
GenericName=Desktop Globe
MimeType=application/x-esri-shape;
Icon=marble
Terminal=false
Categories=Qt;KDE;Education;Geography;
X-DocPath=marble/index.html
