[Desktop Entry]
Type=Service
Name=ESRI Shapefile
Name[ca]=Fitxers de formes ESRI
Name[da]=ESRI-shapefil
Name[de]=ESRI-Shapefile
Name[en_GB]=ESRI Shapefile
Name[es]=Archivo de formas ESRI
Name[et]=ESRI Shapefile
Name[fi]=ESRI Shapefile
Name[fr]=Fichier de formes ESRI
Name[it]=Shapefile ESRI
Name[nds]=ESRI-Ümreetdatei
Name[nl]=ESRI Shapefile
Name[pl]=Plik kształtu ESRI
Name[pt]=Ficheiro de formas da ESRI
Name[pt_BR]=Shapefile ESRI
Name[sk]=Súbor tvarov ESRI
Name[sl]=ESRI Shapefile
Name[sv]=ESRI-formfil
Name[uk]=файл форми ESRI
Name[x-test]=xxESRI Shapefilexx
Name[zh_TW]=ESRI Shapefile

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-esri-shape;

X-KDE-Library=marblethumbnail
CacheThumbnail=true
