[Desktop Entry]
Type=Service
Name=KML Geographic Compressed Data
Name[nds]=Komprimeert KML-Geodaten
Name[nl]=KML Geographic Compressed Data
Name[pt]=Dados Geográficos Comprimidos em KML
Name[pt_BR]=Dados geográficos compactados em KML
Name[sk]=Zemepisné komprimované dáta KML
Name[sv]=KML komprimerad geografisk data
Name[uk]=стиснені географічні дані KML
Name[x-test]=xxKML Geographic Compressed Dataxx

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.google-earth.kmz;

X-KDE-Library=marblethumbnail
CacheThumbnail=true
