[Desktop Entry]
Type=Service
Name=Marble Part
MimeType=application/vnd.google-earth.kml+xml;
X-KDE-ServiceTypes=Browser/View,KParts/ReadOnlyPart
X-KDE-Library=libmarble_part
Icon=marble
