[Desktop Entry]
Type=Service
Name=Marble Part
MimeType=application/x-gpx+xml;
X-KDE-ServiceTypes=Browser/View,KParts/ReadOnlyPart
X-KDE-Library=libmarble_part
Icon=marble
