[Desktop Entry]
Type=Service
Name=GPX Geographic Data
Name[nds]=GPX-Geodaten
Name[nl]=GPX Geographic Data
Name[pt]=Dados Geográficos em GPX
Name[pt_BR]=Dados geográficos em GPX
Name[sk]=Zemepisné dáta GPX
Name[sv]=GPX geografisk data
Name[uk]=географічні дані GPX
Name[x-test]=xxGPX Geographic Dataxx

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-gpx+xml;

X-KDE-Library=marblethumbnail
CacheThumbnail=true
