<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>kml.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Earth KML Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>KML</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gpx.icns</string>
			<key>CFBundleTypeName</key>
			<string>GPS Data Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GPX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>json.icns</string>
			<key>CFBundleTypeName</key>
			<string>GeoJSON Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GeoJSON</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pnt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pnt.icns</string>
			<key>CFBundleTypeName</key>
			<string>Micro World Database II Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pn2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pn2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Compressed PNT Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PN2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>osm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>osm.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenStreetMap Data Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OSM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>log</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>log.icns</string>
			<key>CFBundleTypeName</key>
			<string>TangoGPS Log Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LOG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.KDE.Marble</string>
	<key>CFBundleName</key>
	<string>Marble</string>
	<key>CFBundleVersion</key>
	<string>1.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2014 KDE e.V.</string>
	<key>CFBundleIconFile</key>
	<string>Marble.icns</string>
	<key>CFBundleExecutable</key>
	<string>marble-qt</string>
</dict>
</plist>
