[Desktop Entry]
Name=World Clock
Name[bg]=Световен часовник
Name[bs]=Svijetski Sat
Name[ca]=Rellotge mundial
Name[ca@valencia]=Rellotge mundial
Name[cs]=Světové hodiny
Name[da]=Verdensur
Name[de]=Weltzeituhr
Name[el]=Παγκόσμιο ρολόι
Name[en_GB]=World Clock
Name[eo]=Monda Horloĝo
Name[es]=Reloj mundial
Name[et]=Maailmakell
Name[eu]=Munduko ordularia
Name[fi]=Maailmankello
Name[fr]=Horloge mondiale
Name[ga]=Clog an Domhain
Name[gl]=Reloxo mundial
Name[gu]=વિશ્વ ઘડિયાળ
Name[he]=שעון עולמי
Name[hne]=संसार घड़ी
Name[hu]=Világóra
Name[is]=Heimsklukka
Name[it]=Orologio del mondo
Name[ja]=世界時計
Name[kk]=Дүниежүзлік сағат
Name[km]=នាឡិកា​ពិភពលោក
Name[ko]=세계 시각
Name[lt]=Pasaulio laikrodis
Name[lv]=Pasaules pulkstenis
Name[ml]=ലോകഘടികാരം
Name[mr]=जागतिक घड्याळ
Name[nb]=Verdensur
Name[nds]=Weltklock
Name[nl]=Wereldklok
Name[nn]=Verdsklokke
Name[pa]=ਸੰਸਾਰ ਘੜੀ
Name[pl]=Zegar światowy
Name[pt]=Relógio Mundial
Name[pt_BR]=Relógio mundial
Name[ru]=Мировые часы
Name[sk]=Svetový čas
Name[sl]=Svetovna ura
Name[sv]=Världsklocka
Name[tr]=World Clock
Name[ug]=دۇنيا سائىتى
Name[uk]=Світовий годинник
Name[x-test]=xxWorld Clockxx
Name[zh_CN]=世界时钟
Name[zh_TW]=世界時鐘
# not yet... Comment=Shows the time in different parts of the world

Icon=marble
Type=Service

X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.worldclock
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=https://marble.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=LGPL

X-Plasma-API=declarativeappletscript
X-Plasma-StandAloneApp=true
X-Plasma-NotificationArea=false
X-Plasma-MainScript=ui/main.qml
