Source: marble
Section: misc
Priority: optional
Maintainer: Steffen Joeris <white@debian.org>
Build-Depends: debhelper (>= 5), cdbs, libqt4-dev, cmake
Standards-Version: 3.7.2

Package: marble
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, marble-data
Description: generic geographical map widget
 Marble is meant to be a generic geographical map widget. It shows the 
 earth as a sphere but doesn't make use of any hardware acceleration 
 (No OpenGL). So although it might look similar to professional 
 applications like Google Earth or Nasa World Wind it's rather meant to
 be a small light weight multi purpose widget for KDE.

Package: marble-data
Architecture: all
Depends: ${misc:Depends}
Description: data files for Marble
 This package contains the architecture-independent data files for
 Marble, the generic map widget tool for KDE and others.  This includes
 map and flag images.
 .
 See the marble package for more information.
