#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

CMAKE = cmake -DCMAKE_INSTALL_PREFIX=$(CURDIR)/debian/marble-data -DQTONLY=ON .

MAKE = make

DATA_FILES = data/bitmaps data/flags data/maps data/mwdbii data/placemarks data/svg data/vectorsource

common-configure-arch::
	$(CMAKE)

build:
	$(MAKE)

clean::
	-make distclean
	-rm -rf src/CMakeFiles/marble.dir
	-rm -rf src/.objunx
	-rm -rf src/marble
	-rm -f CMakeCache.txt

common-install-prehook-indep::
	for i in $(DATA_FILES) ; do cp -r $$i $(CURDIR)/debian/marble-data/usr/share/marble/data ; done
	rm -f $(CURDIR)/debian/marble-data/usr/share/marble/data/flags/downloadflags.py

common-install-prehook-arch::
	install -m 755 $(CURDIR)/src/marble $(CURDIR)/debian/marble/usr/bin/marble
	install -m 644 $(CURDIR)/debian/marble.desktop $(CURDIR)/debian/marble/usr/share/applications/kde/marble.desktop
	install -m 644 $(CURDIR)/debian/globe.xpm $(CURDIR)/debian/marble/usr/share/pixmaps/globe.xpm
