[Desktop Entry]
Name=OpenStreetMap with Marble
Comment=Lookup places in OpenStreetMap with Marble
Icon=marble
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=plasma_runner_marble

X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Name=marble
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/marble
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-AdvertiseSingleRunnerQueryMode=true
