[Desktop Entry]
Name=OpenStreetMap with Marble
Name[bs]=OpenStreetMap sa Marble
Name[ca]=OpenStreetMap amb el Marble
Name[ca@valencia]=OpenStreetMap amb el Marble
Name[cs]=OpenStreetMap v Marble
Name[da]=OpenStreetMap med Marble
Name[de]=OpenStreetMap mit Marble
Name[el]=OpenStreetMap με το Marble
Name[es]=OpenStreetMap con Marble
Name[et]=OpenStreetMap Marbles
Name[fi]=OpenStreetMap Marblessa
Name[fr]=OpenStreetMap avec Marble
Name[ga]=OpenStreetMap le Marble
Name[gl]=OpenStreetMap con Marble
Name[hu]=OpenStreetMap Marble-lel
Name[it]=OpenStreetMap con Marble
Name[kk]=Marble бен OpenStreetMap
Name[km]=OpenStreetMap ដែល​មាន​ថ្ម​ម៉ាប
Name[lv]=OpenStreetMap ar Marble
Name[nb]=OpenStreetMap med Marble
Name[nl]=OpenStreetMap met Marble
Name[pa]=ਮਾਰਬਲ ਨਾਲ ਓਪਨਸਟਰੀਟਮੈਪ
Name[pl]=OpenStreetMap przy użyciu Marble
Name[pt]=OpenStreetMap com o Marble
Name[pt_BR]=OpenStreetMap com o Marble
Name[sk]=OpenStreetMap s Marble
Name[sl]=OpenStreetMap z Marble
Name[sv]=OpenStreetMap med Marble
Name[uk]=OpenStreetMap за допомогою Marble
Name[x-test]=xxOpenStreetMap with Marblexx
Name[zh_CN]=Marble 的 OpenStreetMap
Name[zh_TW]=Marble 的 OpenStreetMap 支援
Comment=Lookup places in OpenStreetMap with Marble
Comment[bs]=Traženje mjesta u OpenStreetMap sa Marble
Comment[ca]=Cerca llocs de l'OpenStreetMaps amb el Marble
Comment[ca@valencia]=Cerca llocs de l'OpenStreetMaps amb el Marble
Comment[cs]=Vyhledávat místa v OpenStreetMap pomocí Marble
Comment[da]=Slå steder op i OpenStreetMap med Marble
Comment[de]=Orte in OpenStreetMap mit Marble nachschlagen
Comment[el]=Αναζήτηση τοποθεσιών στο OpenStreetMap με το Marble
Comment[es]=Buscar lugares en OpenStreetMap con Marble
Comment[et]=Kohtade otsimine OpenStreetMapis Marblega
Comment[fi]=Paikkojen etsiminen OpenStreetMapista Marblella
Comment[fr]=Cherche des lieux dans OpenStreetMap avec Marble
Comment[ga]=Aimsigh áiteanna in OpenStreetMap le Marble
Comment[gl]=Consultar lugares en OpenStreetMap con Marble
Comment[hu]=Helyek keresése az OpenStreetMapen a Marble-lel
Comment[it]=Cerca località in OpenStreetMap con Marble
Comment[kk]=Marble бен OpenStreetMap-та жерлерді қарау
Comment[km]=រក​មើល​ខ្ទង់​នៅ​ក្នុង OpenStreetMap ដែល​មាន​ថ្ម​ម៉ាប
Comment[lv]=Atrast vietas OpenStreetMap kartēs ar Marble
Comment[nb]=Slå opp steder i OpenStreetMap med Marble
Comment[nl]=Plaatsen in OpenStreetMap met Marble opzoeken
Comment[pa]=ਮਾਰਬਲ ਨਾਲ ਓਪਨਸਟਰੀਟਮੈਪ ਵਿੱਚ ਥਾਵਾਂ ਲੱਭੋ
Comment[pl]=Oglądaj miejsca w OpenStreetMap przy użyciu Marble
Comment[pt]=Procurar locais no OpenStreetMap com o Marble
Comment[pt_BR]=Procura locais no OpenStreetMap com o Marble
Comment[sk]=Hľadať miesta v OpenStreetMap s Marble
Comment[sl]=Z Marble si oglejte mesta na OpenStreetMap
Comment[sv]=Slå upp platser i OpenStreetMap med Marble
Comment[uk]=Пошук місць на картах OpenStreetMap за допомогою Marble
Comment[x-test]=xxLookup places in OpenStreetMap with Marblexx
Comment[zh_CN]=在 Marble 中搜索 OpenStreetMap 中的位置
Comment[zh_TW]=使用 Marble 在 OpenStreetMap 上尋找地方
Icon=marble
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=plasma_runner_marble

X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Name=marble
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/marble
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-AdvertiseSingleRunnerQueryMode=true
