[Desktop Entry]
Name=OpenStreetMap with Marble
Name[ca]=OpenStreetMap amb el Marble
Name[de]=OpenStreetMap mit Marble
Name[es]=OpenStreetMap con Marble
Name[hu]=OpenStreetMap Marble-lel
Name[it]=OpenStreetMap con Marble
Name[nl]=OpenStreetMap met Marble
Name[pt]=OpenStreetMap com o Marble
Name[pt_BR]=OpenStreetMap com o Marble
Name[sv]=OpenStreetMap med Marble
Name[uk]=OpenStreetMap за допомогою Marble
Name[x-test]=xxOpenStreetMap with Marblexx
Name[zh_CN]=Marble 的 OpenStreetMap
Name[zh_TW]=Marble 的 OpenStreetMap 支援
Comment=Lookup places in OpenStreetMap with Marble
Comment[ca]=Cerca llocs de l'OpenStreetMaps amb el Marble
Comment[de]=Orte in OpenStreetMap mit Marble nachschlagen
Comment[es]=Buscar lugares en OpenStreetMap con Marble
Comment[hu]=Helyek keresése az OpenStreetMapen a Marble-lel
Comment[it]=Cerca località in OpenStreetMap con Marble
Comment[nl]=Plaatsen in OpenStreetMap met Marble opzoeken
Comment[pt]=Procurar locais no OpenStreetMap com o Marble
Comment[pt_BR]=Procurar locais no OpenStreetMap com o Marble
Comment[sv]=Slå upp platser i OpenStreetMap med Marble
Comment[uk]=Пошук місць на картах OpenStreetMap за допомогою Marble
Comment[x-test]=xxLookup places in OpenStreetMap with Marblexx
Comment[zh_CN]=在 Marble 中搜索 OpenStreetMap 中的位置
Comment[zh_TW]=使用 Marble 在 OpenStreetMap 上尋找地方
Icon=marble
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=plasma_runner_marble

X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Name=marble
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/marble
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-AdvertiseSingleRunnerQueryMode=true
