[Desktop Entry]
Encoding=UTF-8
Name=World Clock
Name[ca]=Rellotge mundial
Name[el]=Παγκόσμιο ρολόι
Name[es]=Reloj mundial
Name[ga]=Clog an Domhain
Name[ja]=世界時計
Name[km]=នាឡិកា​ពិភពលោក
Name[pt]=Relógio Mundial
Name[pt_BR]=Relógio mundial
Name[sv]=Världsklocka
Name[uk]=Світовий годинник
Name[x-test]=xxWorld Clockxx
Name[zh_CN]=世界时钟
Name[zh_TW]=世界時鐘
Comment=Plasmoid to show you the time in different parts of the world
Comment[ca]=Plasmoide que us mostra l'hora en diverses parts del món
Comment[el]=Πλασμοειδές εμφάνισης της ώρας σε διάφορα μέρη του κόσμου
Comment[es]=Plasmoide para mostrar la hora en las diferentes partes del mundo
Comment[ga]=Plasmoid a thaispeánann an t-am in áiteanna ar fud an domhain
Comment[ja]=世界各地の時刻を表示するプラズモイド
Comment[km]=Plasmoid ដែល​ត្រូវបង្ហាញ​ពេលវេលា​ដល់​អ្នក​ជា​ផ្នែកៗ​ផ្សេងគ្នា​​នៃ​ពិភពលោក
Comment[pt]=Um plasmóide que lhe mostra a hora em diferentes partes do mundo
Comment[pt_BR]=Plasmóide para mostrar o tempo em diferentes partes do mundo
Comment[sv]=Plasmoid som visar tiden i olika delar av världen
Comment[tr]=Dünyanın değişik bölgelerindeki saati gösteren bir programcık
Comment[uk]=Плазмоїд, який покаже вам час у різних частинах світу
Comment[x-test]=xxPlasmoid to show you the time in different parts of the worldxx
Comment[zh_CN]=显示世界各地时间的 Plasma 部件(Plasmoids)
Comment[zh_TW]=顯示世界上不同地區的時間的 Plasmoid
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_worldclock
X-KDE-PluginInfo-Author=Henry de Valence
X-KDE-PluginInfo-Email=hdevalence@gmail.com
X-KDE-PluginInfo-Name=worldclock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
