[Desktop Entry]
Name=World Clock
Name[ca]=Rellotge mundial
Name[da]=Verdensur
Name[de]=Weltzeituhr
Name[el]=Παγκόσμιο ρολόι
Name[es]=Reloj mundial
Name[et]=Maailmakell
Name[fr]=Horloge mondiale
Name[ga]=Clog an Domhain
Name[gl]=Reloxo mundial
Name[gu]=વિશ્વ ઘડિયાળ
Name[he]=שעון עולמי
Name[it]=Orologio del mondo
Name[ja]=世界時計
Name[km]=នាឡិកា​ពិភពលោក
Name[lv]=Pasaules pulkstenis
Name[ml]=ലോകഘടികാരം
Name[nb]=Verdensud
Name[nds]=Weltklock
Name[nl]=Wereldklok
Name[nn]=Verdsklokke
Name[pl]=Zegar światowy
Name[pt]=Relógio Mundial
Name[pt_BR]=Relógio mundial
Name[ru]=Мировые часы
Name[sv]=Världsklocka
Name[uk]=Світовий годинник
Name[x-test]=xxWorld Clockxx
Name[zh_CN]=世界时钟
Name[zh_TW]=世界時鐘
Comment=Plasmoid to show you the time in different parts of the world
Comment[ca]=Plasmoide que us mostra l'hora en diverses parts del món
Comment[da]=Plasmoid til at vise dig tiden i forskellige dele af verden
Comment[de]=Plasmoid, um die Zeit auf verschiedenen Erdteilen anzuzeigen
Comment[el]=Πλασμοειδές εμφάνισης της ώρας σε διάφορα μέρη του κόσμου
Comment[es]=Plasmoide para mostrar la hora en las diferentes partes del mundo
Comment[et]=Plasmoid, mis näitab aega maailma eri kohtades
Comment[fr]=Un plasmoïde affichant l'heure dans les différentes parties du monde
Comment[ga]=Plasmoid a thaispeánann an t-am in áiteanna ar fud an domhain
Comment[gl]=Plasmoide que lle mostra a hora en diferentes partes do mundo
Comment[gu]=પ્લાઝમોઇડ જે તમને દુનિયાનાં જુદા જુદા ભાગોનો સમય બતાવશે
Comment[it]=Plasmoide che mostra il tempo in differenti parti del mondo
Comment[ja]=世界各地の時刻を表示するプラズモイド
Comment[km]=Plasmoid ដែល​ត្រូវបង្ហាញ​ពេលវេលា​ដល់​អ្នក​ជា​ផ្នែកៗ​ផ្សេងគ្នា​​នៃ​ពិភពលោក
Comment[lv]=Plazmoīts, kas rāda laiku dažādas pasaules vietās
Comment[ml]=ലോകത്തിലെ വിവിധഭാഗങ്ങളിലെ സമയം കാണിക്കുവാനുള്ള പ്ലാസ്മോയിഡ്
Comment[nb]=Plasmoide som viser tiden i forskjellige deler av verden
Comment[nds]=Plasmoid, dat de Tiet in verscheden Rebeden vun de Eer wiest
Comment[nl]=Plasmoid dat de tijd in verschillende delen van de wereld toont
Comment[nn]=Plasmoide som viser deg klokka på ulike stader i verda
Comment[pl]=Plazmoid pokazujący czas w różnych miejscach na świecie
Comment[pt]=Um plasmóide que lhe mostra a hora em diferentes partes do mundo
Comment[pt_BR]=Plasmóide para mostrar o tempo em diferentes partes do mundo
Comment[ru]=Плазмоид, показывающий время в различных частях света
Comment[sv]=Plasmoid som visar tiden i olika delar av världen
Comment[tr]=Dünyanın değişik bölgelerindeki saati gösteren bir programcık
Comment[uk]=Плазмоїд, який покаже вам час у різних частинах світу
Comment[x-test]=xxPlasmoid to show you the time in different parts of the worldxx
Comment[zh_CN]=显示世界各地时间的 Plasma 部件(Plasmoids)
Comment[zh_TW]=顯示世界上不同地區的時間的 Plasmoid
Icon=marble
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_worldclock
X-KDE-PluginInfo-Author=Henry de Valence
X-KDE-PluginInfo-Email=hdevalence@gmail.com
X-KDE-PluginInfo-Name=worldclock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
