[Desktop Entry]
Name=World Clock
Name[ast]=Reló mundial
Name[bg]=Световен часовник
Name[ca]=Rellotge mundial
Name[ca@valencia]=Rellotge mundial
Name[cs]=Světové hodiny
Name[da]=Verdensur
Name[de]=Weltzeituhr
Name[el]=Παγκόσμιο ρολόι
Name[en_GB]=World Clock
Name[es]=Reloj mundial
Name[et]=Maailmakell
Name[eu]=Munduko ordularia
Name[fi]=Maailmankello
Name[fr]=Horloge mondiale
Name[ga]=Clog an Domhain
Name[gl]=Reloxo mundial
Name[gu]=વિશ્વ ઘડિયાળ
Name[he]=שעון עולמי
Name[hne]=संसार घड़ी
Name[hu]=Világóra
Name[is]=Heimsklukka
Name[it]=Orologio del mondo
Name[ja]=世界時計
Name[kk]=Дүниежүзлік сағат
Name[km]=នាឡិកា​ពិភពលោក
Name[ko]=세계 시각
Name[lt]=Pasaulio laikrodis
Name[lv]=Pasaules pulkstenis
Name[ml]=ലോകഘടികാരം
Name[nb]=Verdensur
Name[nds]=Weltklock
Name[nl]=Wereldklok
Name[nn]=Verdsklokke
Name[pa]=ਸੰਸਾਰ ਘੜੀ
Name[pl]=Zegar światowy
Name[pt]=Relógio Mundial
Name[pt_BR]=Relógio mundial
Name[ru]=Мировые часы
Name[sk]=Svetový čas
Name[sl]=Svetovna ura
Name[sv]=Världsklocka
Name[tr]=World Clock
Name[ug]=دۇنيا سائىتى
Name[uk]=Світовий годинник
Name[x-test]=xxWorld Clockxx
Name[zh_CN]=世界时钟
Name[zh_TW]=世界時鐘
Comment=Shows the time in different parts of the world
Comment[ast]=Amuesa la hora en distintes partes del mundu
Comment[bg]=Показва времето в различни краища на света
Comment[ca]=Mostra l'hora en diverses parts del món
Comment[ca@valencia]=Mostra l'hora en diverses parts del món
Comment[cs]=Ukazuje čas v různých částech světa
Comment[da]=Viser tiden i forskellige dele af verden
Comment[de]=Zeigt die Zeit in verschiedenen Erdteilen
Comment[el]=Εμφάνιση της ώρας σε διάφορα μέρη του κόσμου
Comment[en_GB]=Shows the time in different parts of the world
Comment[es]=Muestra la hora en las diferentes partes del mundo
Comment[et]=Kellaaja näitamine maailma eri kohtades
Comment[eu]=Erakutsi munduko zati desberdinetako orduak
Comment[fi]=Näyttää kellonajan eri puolilla maailmaa
Comment[fr]=Affiche l'heure dans les différentes parties du monde
Comment[ga]=Taispeáin an t-am in áiteanna ar fud an domhain
Comment[gl]=Mostra a hora en diferentes partes do mundo
Comment[gu]=દુનિયાનાં જુદા જુદા ભાગોનો સમય બતાવે છે
Comment[hr]=Prikazuje vrijeme u različitim dijelovima svijeta
Comment[hu]=Megmutatja, mennyi a pontos idő a világ nagyvárosaiban
Comment[is]=Sýnir tímann á mismunandi stöðum um allan heim
Comment[it]=Mostra il tempo in diverse parti del mondo
Comment[ja]=世界各地の時刻を表示します
Comment[kk]=Дүние түбкір-түбкіріндеғі уақытты көрсету
Comment[km]=បង្ហាញ​ពេល​វេលា​នៅ​ក្នុង​ផ្នែក​ផ្សេង​ទៀត​នៃ​ពិភព​លោក
Comment[ko]=세계의 다른 지역의 시간을 보여 주는 Plasmoid
Comment[lt]=Rodo laiką skirtingose pasaulio dalyse
Comment[lv]=Rāda laiku dažādās pasaules vietās
Comment[nb]=Viser tiden i forskjellige deler av verden
Comment[nds]=Wiest de Tiet in verscheden Rebeden vun de Eer
Comment[nl]=Tijdklok voor de hele wereld
Comment[nn]=Vis kva klokka er ulike stader i verda
Comment[pa]=ਸੰਸਾਰ ਦੇ ਵੱਖ ਵੱਖ ਭਾਗਾਂ ਵਿੱਚ ਟਾਈਮ ਵੇਖੋ
Comment[pl]=Pokazuje czas w różnych miejscach na świecie
Comment[pt]=Mostra a hora em diferentes partes do mundo
Comment[pt_BR]=Exibe a hora em diferentes partes do mundo
Comment[ru]=Виджет, показывающий время в различных частях планеты
Comment[sk]=Ukazuje čas v rôznych častiach sveta
Comment[sl]=Pokaže uro v različnih delih sveta
Comment[sv]=Visar tiden i olika delar av världen
Comment[tr]=Dünyanın değişik bölgelerindeki saati gösterir
Comment[ug]=دۇنيادىكى ئوخشىمىغان جايلارنىڭ ۋاقتىنى كۆرسىتىدۇ
Comment[uk]=Показує вам час у різних частинах світу
Comment[x-test]=xxShows the time in different parts of the worldxx
Comment[zh_CN]=显示世界各地时间
Comment[zh_TW]=顯示世界上不同地區的時間
Icon=marble
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_worldclock
X-KDE-PluginInfo-Author=Henry de Valence
X-KDE-PluginInfo-Email=hdevalence@gmail.com
X-KDE-PluginInfo-Name=worldclock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/marble/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
