[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=marble
Name=Marble
Name[el]=Μάρμαρο
Name[nl]=Marmer
Name[sv]=Marmor
GenericName=Desktop Globe
Icon=package_network
Terminal=false
Categories=Qt;KDE;Utility;X-KDE-More;Education;Science;
