[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=marble
Name=Marble
Name[br]=Marbrenn
Name[sv]=Marmor
GenericName=Desktop Globe
GenericName[et]=Töölauagloobus
GenericName[it]=Globo nel desktop
GenericName[pt]=Globo do Ecrã
GenericName[pt_BR]=Globo do Ecrã
GenericName[sv]=Skrivbordsjordglob
Icon=marble
Terminal=false
Categories=Qt;KDE;Utility;X-KDE-More;Education;Science;
