<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="marble" version="10">

<MenuBar>
  <Menu name="file" noMerge="1"><text>&amp;File</text>
    <Action name="file_open"/>
    <Action name="exportMap"/>
    <Action name="file_print"/>
    <Action name="file_printPreview"/>
    <Separator/>
    <Action name="file_workOffline"/>
    <Action name="file_quit"/>
  </Menu>
  <Menu name="edit" noMerge="1"><text>&amp;Edit</text>
    <Action name="edit_copy"/>
    <Action name="edit_copy_coordinates"/>
  </Menu>
  <Menu name="view" noMerge="1"><text>&amp;View</text>
    <Action name="show_file_view"/>
    <Separator/>
    <Merge name="StandardToolBarMenuHandler" />
    <Action name="options_show_sidebar" group="show_merge"/>
    <Separator/>
    <Action name="show_clouds"/>
    <Action name="show_atmosphere"/>
    <Separator/>
    <Action name="control_sun"/>
    <Action name="control_time"/>
  </Menu>
  <Menu name="bookmarks" noMerge="1"><text>&amp;Bookmarks</text>
  </Menu>
  <Menu name="settings" noMerge="1"><text>&amp;Settings</text>
    <Action name="fullscreen"/>
  </Menu>
</MenuBar>

<ToolBar position="Top" noMerge="1" hidden="false" name="mainToolBar"><text>Main Toolbar</text>
  <Action name="file_open"/>
  <Action name="file_print"/>
  <Separator/>
  <Action name="edit_copy"/>
  <Separator/>
<!--
  <Action name="sun_shadow"/>
  <Action name="sun_zenith"/>
-->
</ToolBar>

</gui>
