[Desktop Entry]
Type=Service
Name=Marble Part
Name[ca]=Part del Marble
Name[csb]=Mòduł Marble
Name[de]=Marble-Part
Name[el]=Τμήμα Marble
Name[es]=Part Marble
Name[et]=Marble konponent
Name[fi]=Marble-osa
Name[ga]=Comhpháirt Marble
Name[gl]=Part Marble
Name[hi]=मार्बल पार्ट
Name[it]=Componente Marble
Name[ja]=Marble パート
Name[km]=ផ្នែក​ថ្ម​ម៉ាប
Name[ko]=Marble 부분
Name[nds]=Marble-Komponent
Name[ne]=मार्बल अंश
Name[nl]=Marble-component
Name[pa]=ਮਾਰਬਲ ਭਾਗ
Name[pl]=Moduł Marble
Name[pt]=Componente do Marble
Name[pt_BR]=Componente do Marble
Name[sl]=Komponenta Marble
Name[sv]=Marble-delprogram
Name[uk]=Компонент Marble
Name[x-test]=xxMarble Partxx
Name[zh_CN]=Marble 组件
Name[zh_TW]=Marble 部件
MimeType=application/vnd.google-earth.kml+xml;
X-KDE-ServiceTypes=Browser/View,KParts/ReadOnlyPart
X-KDE-Library=libmarble_part
Icon=marble
