[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=marble
Name=Marble
Name[sv]=Marmor
GenericName=generic 3D world map
GenericName[sv]=Allmän tredimensionell världskarta
Icon=package_network
Terminal=false
Categories=Qt;KDE;Utility;X-KDE-More;Education;Science;
