[Desktop Entry]
Type=Application
Name=Marble Behaim
Name[ar]=ماربل بيهام
Name[bg]=Marble Behaim
Name[ca]=Behaim del Marble
Name[ca@valencia]=Behaim de Marble
Name[de]=Marble Behaim
Name[en_GB]=Marble Behaim
Name[eo]=Marble Behaim
Name[es]=Marble Behaim
Name[eu]=Marble Behaim
Name[fr]=Marble Behaim
Name[gl]=Marble Behaim
Name[he]=Marble Behaim
Name[id]=Behaim Marble
Name[is]=Marble Behaim
Name[it]=Behaim di Marble
Name[ka]=Marble Behaim
Name[ko]=Marble Behaim
Name[nl]=Marble Behaim
Name[pl]=Marble Behaim
Name[pt]=Marble Behaim
Name[pt_BR]=Marble Behaim
Name[ru]=Marble Бехайм
Name[sk]=Marble Behaim
Name[sl]=Marble Behaim
Name[sv]=Marble Behaim
Name[tr]=Bilye Behaim
Name[uk]=Бегайм-Marble
Name[x-test]=xxMarble Behaimxx
Name[zh_CN]=Marble 贝海姆地球仪
Name[zh_TW]=Marble 倍海姆
Exec=marble-Behaim
Icon=org.kde.marble.behaim
