[Desktop Entry]
Type=Service
Name=GeoJSON Geographic Data
Name[ar]=بيانات جغرافية GeoJSON
Name[ca]=Dades geogràfiques GeoJSON
Name[ca@valencia]=Dades geogràfiques GeoJSON
Name[cs]=Zeměpisná data GeoJSON
Name[da]=GeoJSON geografisk data
Name[de]=GeoJSON-Geografiedaten
Name[el]=Γεωγραφικά δεδομένα GeoJSON
Name[en_GB]=GeoJSON Geographic Data
Name[es]=Datos geográficos GeoJSON
Name[et]=GeoJSON-i geograafilised andmed
Name[eu]=GeoJSON datu geografikoak
Name[fi]=GeoJSON-paikkatieto
Name[fr]=Données géographiques GeoJSON
Name[gl]=Datos xeográficos GeoJSON
Name[id]=Data Geografis GeoJSON
Name[is]=GeoJSON hnattstaðsetningargögn
Name[it]=Dati geografici GeoJSON
Name[ka]=GeoJSON გეოგრაფიული მონაცემები
Name[ko]=GeoJSON 지리 데이터
Name[nl]=GeoJSON Geografische gegevens
Name[nn]=GeoJSON-geografidata
Name[pa]=GeoJSON ਭੂਗੋਲਿਕ ਡਾਟਾ
Name[pl]=Dane geograficzne GeoJSON
Name[pt]=Dados Geográficos em GeoJSON
Name[pt_BR]=Dados geográficos em GeoJSON
Name[ru]=Географические данные GeoJSON
Name[sk]=Zemepisné dáta GeoJSON
Name[sl]=Geografski podatki GeoJSON
Name[sv]=GeoJSON geografisk data
Name[tr]=GeoJSON Coğrafik Verisi
Name[uk]=географічні дані GeoJSON
Name[x-test]=xxGeoJSON Geographic Dataxx
Name[zh_CN]=GeoJSON 地理数据
Name[zh_TW]=GeoJSON 地理資料

X-KDE-ServiceTypes=ThumbCreator
X-KDE-PluginInfo-Name=marble_thumbnail_geojson
MimeType=application/geo+json;

X-KDE-Library=marblethumbnail
CacheThumbnail=true
