[Desktop Entry]
Type=Service
Name=GeoJSON Geographic Data
Name[ca]=Dades geogràfiques GeoJSON
Name[ca@valencia]=Dades geogràfiques GeoJSON
Name[cs]=Zeměpisná data GeoJSON
Name[da]=GeoJSON geografisk data
Name[de]=GeoJSON-Geografiedaten
Name[el]=Γεωγραφικά δεδομένα GeoJSON
Name[en_GB]=GeoJSON Geographic Data
Name[es]=Datos geográficos GeoJSON
Name[et]=GeoJSON-i geograafilised andmed
Name[fi]=GeoJSON-paikkatieto
Name[gl]=Datos xeográficos GeoJSON
Name[it]=Dati geografici GeoJSON
Name[nl]=GeoJSON Geografische gegevens
Name[pl]=Dane geograficzne GeoJSON
Name[pt]=Dados Geográficos em GeoJSON
Name[pt_BR]=Dados geográficos em 
Name[sk]=Zemepisné dáta GeoJSON
Name[sl]=Geografski podatki GeoJSON
Name[sv]=GeoJSON geografisk data
Name[tr]=GeoJSON Coğrafik Verisi
Name[uk]=географічні дані GeoJSON
Name[x-test]=xxGeoJSON Geographic Dataxx
Name[zh_TW]=GeoJSON 地理資料

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.geo+json;

X-KDE-Library=marblethumbnail
CacheThumbnail=true
